{% extends 'base.html.twig' %}

{% block title %}Accueil -
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="top-header"></div>
    <div class="header" id="myheader">
        <a href="#">
            <h1>Okay<span>SHOPPING</span>
            </h1>
            <a href="{{ path('main_home') }}">
                <h1 class="register" style="font-size: 18px;">Register |
                    <span class="login" style="font-size: 15px;">Login</span>
                </h1>
            </a>
        </a>

    </div>

    <div class="main">
        <div class="container">
            <div class="jumbotron"></div>

        </div>
        <div class="top-navbar"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="
                                                                                                                                                justify-content: space-around;
                                                                                                                                            ">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-item nav-link" href="#">Women's</a>
                    <a class="nav-item nav-link" href="#">men's</a>
                    <a class="nav-item nav-link" href="#">baby's</a>
                    <a class="nav-item nav-link" href="#">Pricing</a>
                    <a class="nav-item nav-link disabled" href="#">Disabled</a>
                    <!-- Search form -->
                    <div class="md-form mt-0 d-flex justify-content-end">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="text">
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card d-flex p-2" style="width: 18rem;">
                    <img alt="Card image cap" class="card-img-top" src="https://media.missguided.com/s/missguided/CL100155_set/1/pink-floral-print-bardot-mini-dress?$category-page__grid--1x$">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <span class="dress-price">9.90€</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card d-flex p-2" style="width: 18rem;">
                    <img alt="Card image cap" class="card-img-top" src="https://media.missguided.com/s/missguided/V9778820_set/1/plus-size-purple-tie-dye-oversized-t-shirt-dress">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <span class="dress-price">12.90€</span>
                    </div>
                </div>
            </div>
             <div class="col-sm-6">
                <div class="card d-flex p-2" style="width: 18rem;">
                    <a href ="#"><img alt="Card image cap" class="card-img-top" src="https://www.vintagdress.com/687-large_default/fashion-bohemian-summer-dress-print-beach-vintage-sexy-female-vestidos-renda-casual-ladies-tops-clothes-women-robe-party-dresses.jpg"></a>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <span class="dress-price">9.90€</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card d-flex p-2" style="width: 18rem;">
                    <img alt="Card image cap" class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71CMRt7YZ0L._UY445_.jpg">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <span class="dress-price">12.90€</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="container"></div>
    </div>
</div>{% endblock %}
