{% extends 'base.html.twig' %}

{% block title %}Accueil -
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="top-header"></div>
    <div class="header" id="myheader">
        <a href="#">
            <h1>Okay<span>SHOPPING</span>
            </h1>
            <a href="{{ path('main_home') }}">
                <h1 class="register" style="font-size: 18px;">Register |
                    <span class="login" style="font-size: 15px;">Login</span>
                </h1>
            </a>
        </a>

    </div>

    <div class="main">
        <div class="container">
            <div class="jumbotron"></div>

        </div>
        <div class="top-navbar"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="
                                            justify-content: space-around;
                                        ">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                    <a class="nav-item nav-link" href="#">Features</a>
                    <a class="nav-item nav-link" href="#">Pricing</a>
                    <a class="nav-item nav-link disabled" href="#">Disabled</a>
                    <!-- Search form -->
                    <div class="md-form mt-0 d-flex justify-content-end">
                        <input aria-label="Search" class="form-control" placeholder="Search" type="text">
                    </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
