html, body{
    background-color: lavender ;
    min-height: 100vh;
    margin: 0;
    /* font-family: 'Assistant', sans-serif; */
}
/* top-header */
/* .top-header{
    position: fixed;
    border:3px solid #8E2DE2;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* } */
/* header */
.header{
   
    display: flex;
    justify-content: space-around;
    position: fixed;
    background: #23074d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    -webkit-box-shadow: 10px 10px 32px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 32px 4px rgba(0,0,0,0.75);
    width: 100%;
}

.header h1{
    font-family: 'Fredoka One', cursive;
    color:black;
}

.header a{
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
}

.header span{
    font-family: 'Fredoka One', cursive;
    color: goldenrod;
    font-size: 20px;
}

.login{
    font-size: 18px;
}
.landing{
    font-family: 'Assistant', sans-serif;
    color: black;
    width: 100%;
    height: 100vh;
    background-image: url('../img/clothing.jpeg');
    background-size: cover;
    color: white;
}

.landing-container{
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5 );
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}




/* main */
.main{
    background-color: rgb(61, 61, 75);
}

.col{
    border:2px solid black;
    border-radius: 5px;
    margin: 2px;

}
/* jumbotron -1 */
.jumbotron{
    background-image:url("https://images.pexels.com/photos/985635/pexels-photo-985635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: relative;
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.59);
    box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.59);
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    border-radius: 0;
    
}

.jumbotron h1{
    color: antiquewhite;
    background-color:rgb(29, 7, 7);
    opacity: 0.6;
    width: 100%;

}
/* top-navbar */
.top-navbar{
    border: 4px solid rgb(102, 1, 1);
}

/* navbar */
.navbar{
    border-bottom:  4px solid rgb(102, 1, 1);
    -webkit-box-shadow: 10px 10px 5px 3px rgba(61,61,75,1);
    -moz-box-shadow: 10px 10px 5px 3px rgba(61,61,75,1);
    box-shadow: 10px 10px 5px 3px rgba(61,61,75,1);
}


.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(102, 1, 1);
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }

  .nav-item:hover {
    opacity: 1;
  }

  .nav-item::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: rgb(102, 1, 1);
  }

  .nav-item::before {
    width: 0%;
    bottom: 10px;
  }

  .nav-link:hover::before {
    width: 100%;
  }

  .dress-price{
      color: lightgrey;
      font-family: 'Times New Roman', Times, serif;
      font-size:30px;
  }

  /* FOOTER */
.footer{
    background-color: rgb(24, 2, 2);
}
  

/* sign in FORM */
#logreg-forms{
    font-family: 'Assistant', sans-serif;
    color: black;
    /* width:412px; */
    /* margin:10vh auto; */
    background-color:hsla(120, 60%, 70%, 0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:100%;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }

    .header{
        width: 100%;
    }

    .header h1{
        font-size: 20px;
    }

    .header span{
        font-size:11px;
    }
    
}